
@font-face {
    font-family: pixel;
    src: url(../fonts/ZakkuriGothic-BLK.otf);
}
@font-face {
    font-family: body;
    src: url(../fonts/Makinas-Scrap-5.otf);
}
@font-face {
    font-family: pixel-ice;
    src: url(../fonts/DesignerPixels.ttf);
}

p {
    font-family: body;
}
li {
    font-family: body;
    font-size: 10.5pt;
}

#me-img {
    background-image: url('../imgs/me.jpg');
}